.analyse-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.einsparung{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
