.avatar{
  padding: 5px;
}

.greeting{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.wrapper{
  width: 85%;
  margin: auto;
}

.header{
  background-color: var(--ion-background-color);
}

.upgrade-button{
  width: 100%;
  font-weight: bold;
  margin: 1rem 0;
}
.upgrade-card{
  display: flex;
  justify-content: center;
}

.buttons-card{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  justify-content: center;
  align-items: center;
}

.logout{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
