<ion-header [translucent]="true">
  <ion-toolbar mode="ios" class="header">
    <ion-title>
      Start
    </ion-title>
    <ion-avatar id="click-trigger" slot="end">
      <img class="avatar" alt="Profilbild" src="{{user?.Profilbild}}" />
    </ion-avatar>
    <ion-popover trigger="click-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <div>
            <a class="logout" href="tabs/profile" >Profil
              <ion-icon slot="end" name="person-outline"></ion-icon>
            </a>
            <a class="logout" href="tabs/support">Support
              <ion-icon name="information-circle-outline"></ion-icon>
            </a>
            <a class="logout" (click)="logout()">Logout
              <ion-icon slot="end" name="exit-outline"></ion-icon>
            </a>
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-alert
    [isOpen]="loggedOut"
    header="Fehler"
    message="Du wurdest automatisch abgemeldet. Bitte logge dich erneut ein."
    [buttons]="[logoutButton]"
    (didDismiss)="loggedOut=false"
  ></ion-alert>
  <div class="wrapper">
    <div class="buttons-card">
      <h1 class="greeting">Hallo {{user?.Vorname}}!</h1>
      <ion-card-subtitle> Letzte Analyse: {{lastAnalyse}} </ion-card-subtitle>
      <ion-nav-link style="width: 80%" router-direction="forward" [component]="devices?.length ? analyseComponent : ''">
        <ion-button mode="ios" size="large" class="upgrade-button" shape="round" color="{{devices?.length ? 'warning' : 'medium'}}" fill="{{devices?.length ? 'solid' : 'outline'}}" [disabled]="devices?.length === 0">
          Jetzt analysieren
        </ion-button>
      </ion-nav-link>
      <ion-nav-link style="width: 80%" router-direction="forward" [component]="analyse ? optimizeComponent : ''">
      <ion-button  mode="ios" size="large" class="upgrade-button" shape="round" color="{{analyse ? 'primary' : 'medium'}}" fill="{{analyse ? 'solid' : 'outline'}}" [disabled]="!analyse" >
        Optimieren
      </ion-button>
      </ion-nav-link>
    </div>
    <ion-card *ngIf="!user?.IstPremium">
      <img style="padding: 1rem" alt="Optenergy" src="./assets/opternegy.png" />
      <ion-card-header>
        <ion-card-title style="font-size: 1.3rem">Hole dir jetzt dein Upgrade, um unsere Premium-Vorteile zu nutzen.</ion-card-title>
      </ion-card-header>
      <ion-card-content class="upgrade-card">
        <ion-button mode="ios" class="upgrade-button" shape="round" color="warning">
          Jetzt Upgraden
          <ion-icon name="trophy-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 1.6rem">Sparvorschlag des Tages</ion-card-title>
      </ion-card-header>
      <ion-card-content class="upgrade-card">
        <p>
          {{sparvorschlag}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
