.device-title{
}
.avatar{
  padding: 5px;
}


.device-card-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.active-icon{
  height: 25px;
  width: 25px;
}

.edit-badge{
  border-radius: 100%;
  width: 30px;
  padding: 5px;
  height: 30px;
}

.edit-icon{
  height: 100%;
  width: 100%;
}

.device-card-content{
  width: 100%;
}

.segment-container{
  width: 90%;
  margin: 2rem auto;
}

.search-bar{
  width: 90%;
  margin: auto;
}

.inline-creation{
  margin: 1rem 0;
  display: flex;
  gap:5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.add-group{
  background-color: #313131;
  border: #313131 solid 1px;
  border-radius: 5px;
}

.group-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logout{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
