.device-title{
}

.device-card-header{
  display: flex;
  justify-content: space-between;
}

.active-icon{
  height: 25px;
  width: 25px;
}

.edit-badge{
  border-radius: 100%;
  width: 30px;
  padding: 5px;
  height: 30px;
}

.edit-icon{
  height: 100%;
  width: 100%;
}

.device-card-content{
  width: 100%;
}

.accordion-item{
  background-color: var(--ion-card-background) !important;
}
