<ion-header>
  <ion-toolbar>
    <ion-title>
      Geräte
    </ion-title>
    <ion-avatar id="click-trigger2" slot="end">
      <img class="avatar" alt="Profilbild" src="{{user?.Profilbild}}" />
    </ion-avatar>
    <ion-popover trigger="click-trigger2" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <div>
            <a class="logout" href="tabs/profile" >Profil
              <ion-icon slot="end" name="person-outline"></ion-icon>
            </a>
            <a class="logout" (click)="logout()">Logout
              <ion-icon slot="end" name="exit-outline"></ion-icon>
            </a>
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="segment-container">
    <ion-segment value="devices" (ionChange)="changePage($event)">
      <ion-segment-button value="devices">
        <ion-label>Geräte</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups">
        <ion-label>Gruppen</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="activePage ==='devices' ">
    <ion-searchbar class="search-bar" (ionInput)="filterDevices($event)"></ion-searchbar>
    <ion-card *ngFor="let device of devices">
      <ion-card-header>
        <div style="display: flex;flex-flow:column; align-items: center">
        <ion-card-subtitle>{{device.SteckdosengruppeBezeichnung}}</ion-card-subtitle>
        <div class="device-card-header">
          <ion-badge (click)="turnOff(device)" color="{{device.IstAn ? 'primary' : 'medium'}}">
            <ion-icon class="active-icon" name="{{device.IstAn ? 'flash-outline' : 'flash-off-outline'}}"></ion-icon>
          </ion-badge>
          <ion-card-title class="device-title">{{device.Bezeichnung}}</ion-card-title>
          <ion-badge class="edit-badge" color="secondary" (click)="editDevice(device)">
            <ion-icon class="edit-icon" name="build-outline"></ion-icon>
          </ion-badge>
        </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        Aktive Zeit: {{device.AktivStartzeit && device.AktivEndzeit ? device.AktivStartzeit + 'Uhr - ' + device.AktivEndzeit + 'Uhr' : 'Manuell'}}
      </ion-card-content>
    </ion-card>
    <ion-modal trigger="open-device" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Abbrechen</ion-button>
            </ion-buttons>
            <ion-title>Erfassen</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Erstellen</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-select  (ionChange)="handleChange($event)" label="Steckdosengruppe" placeholder="Wohnzimmer">
              <ion-select-option *ngFor="let gruppe of steckdosengruppen" value="{{gruppe.SteckdosengruppeID}}">{{gruppe.Bezeichnung}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Bezeichnung:</ion-label>
            <ion-input type="text" placeholder="Gerätename" [(ngModel)]="createDevice.Bezeichnung"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  <ion-modal [isOpen]="editDeviceOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="editDeviceOpen = false">Abbrechen</ion-button>
          </ion-buttons>
          <ion-title>Bearbeiten</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="onWillDismissEdit()" [strong]="true">Speichern</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-select  (ionChange)="handleChangeEdit($event)" label="Steckdosengruppe" placeholder="Raum">
            <ion-select-option *ngFor="let gruppe of steckdosengruppen" value="{{gruppe.SteckdosengruppeID}}">{{gruppe.Bezeichnung}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Bezeichnung:</ion-label>
          <ion-input type="text" placeholder="Gerätename" [(ngModel)]="editDeviceObject.Bezeichnung"></ion-input>
        </ion-item>
        <div style="display: flex; justify-content: center">
        <ion-button color="danger" (click)="deleteDevice(editDeviceObject!.SteckdoseID!)">
          Löschen
          <ion-icon class="edit-icon" name="trash-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button id="{{activePage === 'devices' ? 'open-device' : 'open-group' }}" (click)="activePage === 'devices' ? '' : addGroup() ">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="activePage === 'groups'">
    <ion-list [inset]="true">
      <ion-item *ngFor="let group of steckdosengruppen">
        <div class="inline-creation" *ngIf="!group.Bezeichnung">
          <ion-input class="add-group" (ionInput)="updateAddGroup($event)"></ion-input>
          <ion-badge color="primary" (click)="createGroup(group)">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-badge>
          <ion-badge color="danger" (click)="cancelGroup()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-badge>
        </div>
        <div *ngIf="group.Bezeichnung" class="group-list-item">
          <ion-card-title class="device-title">{{group.Bezeichnung}}</ion-card-title>
          <ion-badge class="edit-badge" color="danger" (click)="editGroup(group)">
            <ion-icon class="edit-icon" name="trash-outline"></ion-icon>
          </ion-badge>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
