<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Optimierung</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="gz">
    <ion-img class="konfetti" src="https://static.vecteezy.com/system/resources/previews/009/345/314/original/realistic-multicolored-confetti-vector-for-the-festival-confetti-and-tinsel-falling-background-colorful-confetti-isolated-on-transparent-background-carnival-elements-birthday-party-celebration-free-png.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Glückwunsch, dein Verbrauch ist jetzt optimiert.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Du spartst jetzt {{optimierung?.ersparnisInkWh}}kWH Strom.
      Deine Stromkosten wurden also um {{optimierung?.ersparnisInEuro}}€ reduziert!
    </ion-card-content>
  </ion-card>
  <ion-card-title>Änderungen:</ion-card-title>
  <ion-card *ngFor="let device of devices">
    <ion-card-header>
      <div style="display: flex;flex-flow:column; align-items: center">
        <div class="device-card-header">
          <ion-card-title class="device-title">{{device.Bezeichnung}}</ion-card-title>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div style="width: 100%; display: flex; justify-content: center">
        {{device.AktivStartzeit && device.AktivEndzeit ? device.AktivStartzeit + 'Uhr - ' + device.AktivEndzeit + 'Uhr' : 'Manuell'}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
